.btn-secondary{
  display: block;
  padding:10px;
  margin:5px;
  width:50%;
  margin-left:25%;
  margin-right:25%;
}

body{
 
  aling-items:center;
}

.content{
  /* display:none; */
  margin-top:15%;
}
.btn-hide{
  display:none;
}